* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
}

.entry,
.exit {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 500px;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

.text {
  text-align: center;
  margin: 5px;
  padding: 5px;
}

.detalhado {
  width: 100%;
}

.content-exit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.form-group {
  justify-content: space-between;
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  display: flex;
}

#abono {
  width: 350px;
  margin: 5px;
}

#decimoTerceiro {
  width: 25px;
  margin: 5px;
}

.salario,
.medias,
.dias {
  width: 80px;
  text-align: center;
}


.label-checkbox {
  display: flex;
  align-items: center;
}

.btn-group {
  text-align: center;
}

.btnSubmit {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btnSubmit:hover {
  background-color: #2980b9;
}

.exit h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.exit ul {
  list-style: none;
  padding: 0;
}

.exit li {
  margin-bottom: 10px;
}

.exit li span {
  font-weight: bold;
  margin-left: 10px;
}

.salarioResult,
.umtercoResult,
.abonoResult,
.umTercoAbonoResult,
.mediasResult {
  color: rgb(5, 227, 5);
}



.inssResult,
.irResult {
  color: red;
}

.resultadoCalculoExibir{
  display: flex;
}


.descricao,
.numeros {
  display: block;
  margin: 10px;
  
}


.separa{
  display: flex;
  justify-content: space-between;
}



@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .entry,
  .exit {
    margin: 20px 0;
    max-width: none;
  }
}
